$assets-url :"/assets";
.widget-3{
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .slide-back{
      background-image: url("#{$assets-url}/img/dashboard/saf1.jpg");
      overflow-y: hidden;
      opacity: 0.7;
      .row-sm-height:nth-child(1){
        height: 50%;

      }
      .row-sm-height:nth-child(2){
        height: 50%;

      }
    }
    .slide-front > div {
      display: flex;
      flex-direction: column;
      background-image: url("#{$assets-url}/img/dashboard/sarova1.jpg");
      opacity: 0.7;
      overflow-y:hidden;


    }
    .widget-3-fav{
        background: rgba(0,0,0,.07);
        vertical-align: middle;
        padding: 6px 11px;
        display: block;
    }
    .pg-map {
        font-size: 30px;
        color: #fff;
    }
    .widget-3-inner{
        position: relative;
        width: 100%;
        height: 100%;
        &:after{
            position: absolute;
            //background-image: url("#{$assets-url}/img/dashboard/sarova1.jpg");
            background: transparent;
            content:"";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
        }
    }
}
