/* ******************************* Style Overrides **************/

//Remove link and button underlines
a, button {
  text-decoration: none !important;
}
.form-group {
  label.required {
    &:after {
      content: "*";
      color: red;
    }
  }
}