$assets-url :"/assets";
pgcard{
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    &:after{
      position: absolute;
      background: transparent;
      content:"";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
    }
}
:host /deep/ .widget-7 {
    .slide-back{
      background-image: url("#{$assets-url}/img/dashboard/uhuru1.jpg");
      opacity: 0.7;
      .row-sm-height:nth-child(1){
        height: 50%;

      }
      .row-sm-height:nth-child(2){
        height: 50%;

      }
    }
    .slide-front > div {
      display: flex;
      flex-direction: column;
      background-image: url("#{$assets-url}/img/dashboard/william-ruto1.jpg");
      opacity: 0.7;
      overflow-y: hidden;
    }
    p,
    .face{
      display: block;
      font-size: 1em;
      line-height: 1.2em;
      margin: 0;
    }
  }
